@use '/src/styles/utils/_BreakPoints' as w;

.categoryPicker {
  width: 100%;

  &__ul {
    display: grid;
    // gap: 0.5em;
    // padding-inline: 0.5em;
    width: 100%;
    overflow-x: hidden;
    padding-block: 1em;
    grid-template-columns: repeat(2, 1fr);
    // transform: scale(0.85) translateY(-1em);
    // opacity: 0;  
    @include w.breakpoint-up (medium) {grid-template-columns: repeat(3, 1fr)}
    @include w.breakpoint-up (large) {grid-template-columns: repeat(6, 1fr)}


    &:hover &__li::after {backdrop-filter: blur(3px)}
    &__li {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      aspect-ratio: 1 / 1;
      cursor: pointer;

      @include w.breakpoint-down (medium) {
        &:nth-child(2)::before {background-color: var(--light-invert-background-color)}
        &:nth-child(3n)::before {background-color: var(--light-invert-background-color)}
      }
      @include w.breakpoint-up (medium) {&:nth-child(2n + 1)::before {background-color: var(--light-invert-background-color)}}
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 85%;
        background-color: var(--primary-color);
        border-radius: 1em;
        z-index: -1;
      }

      &:hover::after {backdrop-filter: blur(0px) !important}
      &::after {
        content: "";
        position: absolute;
        top: -1em;
        bottom: -1em;
        left: -1em;
        right: -1em;
        backdrop-filter: blur(0px);
        transition: backdrop-filter 0.5s ease-out;
        z-index: 30;

        @include w.breakpoint-down (medium) {backdrop-filter: blur(0px) !important}
      }

      &:hover &__img {
        transform: scale(1.05);
        filter: drop-shadow(-15px 15px 6px hsla(0, 0%, 0%, 0.6)) contrast(120%) blur(0px) !important;
        // z-index: 10;
      }
      &__img {
        width: 95%;
        height: 95%;
        object-fit: contain;
        margin: auto;
        filter: drop-shadow(-10px 10px 3px hsla(0, 0%, 0%, 0.6)) contrast(100%) blur(0px) !important;
        transition: transform 0.25s ease-out, filter 0.25s ease-out !important;
      }
  
      &__name {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 1.5em;
        left: 0;
        width: 100%;
        color: white;
        font-weight: bold;
        filter: drop-shadow(0 0 1px black);
        color: white;
        font-size: var(--font-size-medium);
        z-index: 20;
      }
    }     
  }
}