@use '/src/styles/utils/_BreakPoints' as w;

.newsLetter-container {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  // background-image: -webkit-gradient(linear, left top, left bottom, from(#001e3d3e), to(#5ca7f15a)), url('/src/assets/Img/Content/Giant and Snow.jpg');
  background-image: linear-gradient(to bottom, var(--background-color) 0%, hsla(0, 0%, 0%, 0.1) 35%, hsla(218, 100%, 16%, 0.187) 100%), url('/assets/img/content/Giant and Snow.webp');
  // background-image: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, hsla(191, 100%, 11%, 0.376) 35%, hsla(210, 100%, 83%, 0.286) 100%), url('/src/assets/Img/Content/Giant and Snow.jpg');
  // background-image: -webkit-gradient(linear, left top, left bottom, from(#001e3d41), to(#5090d05e)), url('/src/assets/Img/Content/bicycle and syria flag poster.jpg');
  // background-image: -webkit-gradient(linear, left top, left bottom, from(#001e3d5e), to(#5090d055)), url('/src/assets/Img/Content/bicycle background.jpg');
  // box-shadow: 0 0 23px 30px white inset;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  overflow: hidden;

  @include w.breakpoint-up(medium) {
    aspect-ratio: 3 / 2;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 40%;
      background-color: white;
    }
  }

  @include w.breakpoint-up(large) {
    aspect-ratio: 3 / 2;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    'title'
    'description'
    'paragraph'
    'toggles';
    width: 100%;
    height: 100%;
    gap: 0.5em;
    padding: 2em 1em;
 
    @include w.breakpoint-up(medium) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr auto auto 1fr;
      grid-template-areas:
      'title title title title'
      'description description paragraph paragraph'
      'description description toggles toggles';
    }

    &__title {
      grid-area: title;
      color: black;
      font-family: 'Righteous';
      font-weight: bold;
      @include w.breakpoint-up(medium) {
        margin-bottom: auto;
        margin-inline: auto;
      }

      & .one-bike {
        font-size: 1.3em;
      }

      & .colored {
        // color: var(--secondary-color);
      }
    }

    &__description {
      grid-area: description;
      max-width: 80%;
      margin-bottom: auto;
      font-weight: 600;
      color: white;
      line-height: 1.3em;

      @include w.breakpoint-up(medium) {
        margin-block: auto;
        margin-inline: auto;
        max-width: 80%;
      }
      
      &::before,
      &::after {
        content: "";
        display: inline-block;
        display: none;
        width: 1.2em;
        height: 1.2em;
        background-image: url(/assets/Img/Icons/quote_darkMode.svg);
        background-size: cover;
        background-repeat: no-repeat;
      }

      & .firstLetter {
        color: #B8D1E0;
        // color: #4B6D90;
        font-size: 1.8em;
      }
    }

    &__paragraph {
      grid-area: paragraph;
      font-weight: bold;
      font-size: 0.9em;
      color: white;
      margin-top: auto;

      @include w.breakpoint-up(medium) {
        margin-inline: auto;
        width: 80%;
      }
    }

    &__toggles {
      grid-area: toggles;
      display: flex;
      flex-direction: column;
      opacity: 0.8;
      backdrop-filter: blur(6px);

      @include w.breakpoint-up(medium) {
        margin-inline: auto;
        width: 80%;
      }

      &__input-container {
        position: relative;

        &__logo {
          position: absolute;
          bottom: 50%;
          right: 1em;
          transform: translateY(50%);
          height: 100%;
          object-fit: cover;
        }

        &__input {
          width: 100%;
          padding: 0.5em;
          outline: none;
          border: none;
        }
      }

      &__subscribe-button {
        font-weight: bold;
        background-color: lightblue;
        padding: 0.5em;
      }
    }
  }
}