@use '/src/styles/utils/_BreakPoints' as w;

@mixin section-styles {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-inline: 1em;
  padding-block: 1em;
}

@mixin bottom-line-sec-styles {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2em);
  height: 1px;
  background-color: var(--light-background-color);
}

@mixin title-sec-styles {
  padding-block: 1em;
  font-size: var(--font-size-medium);      
  font-weight: bold;      
  color: var(--font-h-color);
}

@mixin label-styles {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  font-size: var(--font-size-small);
  font-weight: 600;
  color: var(--signUp-label-font-color);
  padding-inline: 0.2em;
  z-index: 1;
  transition: top 0.25s ease-out, font-size 0.25s ease-out, 
    font-weight 0.25s ease-out, color 0.25s ease-out;
  body.arabic & {left: auto; right: 1em}
}

@mixin input-styles {
  background-color: var(--background-color);
  color: var(--font-p-color);
  font-size: var(--font-size-small);
  width: 100%;
  border: solid 2px var(--signUp-input-border-color);
  outline: none;
  border-radius: 5px;
  padding: 1em;
  transition: border 0.25s ease-out;
  body.arabic & input {direction: rtl}
}

@mixin info-description-styles {
  visibility: hidden;
  position: absolute;
  bottom: calc(100% + 1em);
  right: 0.6em;
  width: 15em;
  background-color: var(--dark-invert-background-color);
  font-size: var(--font-size-extraSmall);
  color: var(--font-p-invert-color);
  border-radius: 0.5em 0.5em 0.2em 0.5em;
  padding: 0.5em;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  body.arabic & {
    right: auto;
    left: 0.6em;
    border-radius: 0.5em 0.5em 0.5em 0.2em;
  }
}

@mixin info-description-before-styles {
  content: "";
  position: absolute;
  bottom: -0.4em;
  right: 0.14em;
  transform: rotate(45deg);
  width: 1em;
  height: 1em;
  background-color: var(--dark-invert-background-color);
  border-radius: 0.2em;
  body.arabic & {right: auto; left: 0.16em}
}

@mixin error-popup-styles {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  height: 60%;
  padding: 0.5em;
  font-size: var(--font-size-extraSmall);
  color: var(--red-color);
  backdrop-filter: blur(5px);
  transition: opacity 0.25s ease-out;
  body.arabic & {right: auto; left: 0.5em}
}

.checkout {
  position: relative;
  display: grid;
  max-width: 600px;
  // gap: 2em;
  padding-bottom: 2em;
  margin-inline: auto;
  grid-template-areas:
  'orderSummary-sec'
  'delivery-sec'
  'phone-sec'
  'shipping-address-sec'
  'orderSummary-bottom-sec'
  'place-order-btn';

  @include w.breakpoint-up (large) {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0em;
    // padding-block: 2em;
    // gap: 1em;
    max-width: 100%;
    grid-template-areas:
    'delivery-sec orderSummary-sec-largeLayout'
    'phone-sec orderSummary-sec-largeLayout'
    'shipping-address-sec orderSummary-sec-largeLayout'
    'place-order-btn orderSummary-sec-largeLayout'; 
  }

  body.arabic &{direction: rtl}

  // grey-background-color filler for the orderSummary-largeLayout section
  &::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background-color: var(--light-background-color);
    @include w.breakpoint-up (large) {display: initial}

    body.arabic & {left: auto; right: 100%}
  }

  &__orderSummary-sec {
    grid-area: orderSummary-sec;
    position: relative;
    overflow-y: hidden;
    overflow-x: clip;
    max-height: 3.35em;
    transition: max-height 0.5s ease;
    @include w.breakpoint-up (large) {display: none}
    &::before {@include bottom-line-sec-styles}
    
    &__show {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.3em;
      padding: 1em;
      cursor: pointer;
      @include w.breakpoint-up (large) {display: none}

      &__text {
        font-weight: 400;
        font-size: var(--font-size-small);
        color: var(--primary-color);
        transition: font-weight 0.15s ease-out;

        &:hover {font-weight: 600 !important}
      }

      &__arrow {
        margin-right: auto;
        transition: transform 0.5s ease;
        body.arabic & {margin-right: 0; margin-left: auto}
      }

      &__total {
        color: var(--font-h-color);
        font-weight: 600;
      }
    }
  }

  &__orderSummary-largeLayout-sec {
    grid-area: orderSummary-sec-largeLayout;
    display: none;
    padding-block: 1em;
    background-color: var(--light-background-color);
    transition: background-color 0.5s ease-in;
    @include w.breakpoint-up (large) {display: initial}

    &__title {
      display: flex;
      position: relative;
      font-size: var(--font-size-medium);
      color: var(--primary-color);
      font-weight: 600;
      padding: 1em;
    }
  }

  &__delivery-sec {
    grid-area: delivery-sec;
    @include section-styles;
    &::before {@include bottom-line-sec-styles}

    &__lbl {@include title-sec-styles}

    &__info-cont {
      position: absolute;
      top: 2em;
      right: 1em;
      body.arabic & {right: auto; left: 1em}

      &__img {
        width: 1.9em;
        object-fit: cover;
        object-position: center;
      }

      &:hover &__description {visibility: visible; opacity: 1}
      &__description {
        @include info-description-styles;
        &::before {@include info-description-before-styles}
      }
    }

    &__inp-cont {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 3em;
        transform: translateY(-50%);
        width: 1px;
        height: 2em;
        background-color: var(--endElement-border-background-color);

        body.arabic & {left: 3em; right: auto}
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        aspect-ratio: 1 / 1;
        background-image: var(--arrow-drop-down-v2-icon);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.8em;
        opacity: 0.6;

        body.arabic & {left: 0; right: auto}
      }

      &.error.error &__inp {border: solid var(--red-color) 2px}
      &__inp {
        width: 100%;
        padding: 1em;
        color: var(--font-h-color);
        font-weight: 600;
        background-color: var(--background-color);
        border: solid 1px var(--endElement-border-background-color);
        border-radius: 8px;
        outline: 0;
        transition: border 0.15s ease-out;
      }
      &.focus &__inp {border: solid 2px var(--primary-color)}
      &.focus &__inp ~ &__lst {visibility: visible; opacity: 1}

      &.error &__error-popup {visibility: visible; opacity: 1}
      &__error-popup {
        @include error-popup-styles;
        right: 4.5em;

        body.arabic & {right: auto; left: 4.5em}
      }
      
      &__lst {
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        height: 10em;
        overflow-y: scroll;
        background-color: var(--background-color);
        opacity: 0;
        box-shadow: 2px 2px 10px 1px hsl(0, 0%, 50%, 0.3);
        border: solid 1px var(--endElement-border-background-color);
        border-radius: 8px;
        z-index: 10;
        transition: opacity 0.15s ease-out;

        &::-webkit-scrollbar {width: 0.5em}
        &::-webkit-scrollbar-thumb {
          cursor: grab;
          background-color: var(--sideMenu-scrollBar-background-color);
          transition: background-color 0.15s;
          border-radius: 8px;
        }
        &::-webkit-scrollbar-track {background-color: rgba(42, 42, 42, 0)}
        &::-webkit-scrollbar-thumb:active {cursor: grabbing}
        &::-webkit-scrollbar-thumb:hover {background-color: hsl(0, 0%, 50%)}
    
        &__itm {
          color: var(--font-p-color);
          cursor: pointer;
          padding: 1em;
          transition: color 0.15s ease-out, background-color 0.15s ease-out, font-weight 0.15s ease-out;

          &:hover {
            background-color: var(--light-background-color);
            color: var(--font-h-color);
            font-weight: 600;
          }
        }
      }
    }

    &__fee-cont {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__shipping-fee {
        color: var(--font-h-color);
        font-size: var(--font-size-small);
        font-weight: 600;
      }

      &__total {color: var(--font-h-color)}
    } 
  }

  &__phone-sec.error,
  &__phone-sec.error-noDescription {
    border: solid 2px var(--red-color);
    border-radius: 2em;
  }
  &__phone-sec {
    grid-area: phone-sec;
    @include section-styles;
    &::before {@include bottom-line-sec-styles; z-index: -1}

    &.error-noDescription &__h2::after {visibility: hidden; opacity: 0}
    &.error &__h2::after {visibility: visible; opacity: 1}
    &__h2 {
      position: relative;
      @include title-sec-styles;
      transition: border 0.25s ease;

      &::after {
        content: "To ensure we can reach you, please choose a phone number option.";
        body.arabic & {content: "لضمان إمكانية الوصول إليك، يرجى اختيار أحد خيارات رقم الهاتف"}
        visibility: hidden;
        position: absolute;
        bottom: -0.2em;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        color: var(--red-color);
        font-size: 0.6em;
        font-weight: 400;
        opacity: 0;
        transition: opacity 0.25s ease;
      }
    }

    &__info-cont {
      position: absolute;
      top: 2em;
      right: 1em;
      body.arabic & {right: auto; left: 1em}

      &__img {
        width: 1.9em;
        object-fit: cover;
        object-position: center;
      }

      &:hover &__description {visibility: visible; opacity: 1}
      &__description {
        @include info-description-styles;
        &::before {@include info-description-before-styles}
      }
    }

    &__radio-cont {
      display: flex;
      gap: 1em;
  
      &__inp {
        visibility: hidden;
        width: 1em;
        cursor: pointer;
      }
      
      &__inp:checked + &__lbl:before {
        background-color: var(--primary-color);
        transform: translateY(-50%) scale(1);
      }
      &__inp:checked + &__lbl {
        font-weight: 600;
        color: var(--font-h-color);
      }
      &__lbl {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.3em;
        cursor: pointer;
        color: var(--font-p-color);
        transition: font-weight 0.15s ease-out, color 0.15s ease-out;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -2em;
          transform: translateY(-50%) scale(0.8);
          width: 1em;
          height: 1em;
          background-color: transparent;
          // background-color: var(--endElement-border-background-color);
          border: solid 2px var(--endElement-border-background-color);
          transition: background-color 0.15s ease-out, transform 0.15s ease-out;

          body.arabic & {left: auto; right: -2em}
        }

        &__phone-popup-cont {
          position: relative;
          height: 1.2em;

          &:hover &__number {visibility: visible; opacity: 1}
          &__number {
            visibility: hidden;
            position: absolute;
            bottom: calc(100% + 0.5em);
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--font-p-color);
            font-size: var(--font-size-extraSmall);
            font-weight: 600;
            color: var(--font-p-invert-color);
            white-space: nowrap;
            border-radius: 0.5em;
            padding: 0.5em;
            opacity: 0;
            transition: opacity 0.25s ease-out;
            body.arabic & {direction: ltr}

            &::before {
              content: "";
              position: absolute;
              bottom: -0.6em;
              left: calc(50% - 0.1em);
              transform: rotate(45deg) translateX(-50%);
              width: 1em;
              height: 1em;
              background-color: var(--font-p-color);
              border-radius: 0.2em;
              z-index: -1;
            }
          }

          &__img {height: 100%; opacity: 0.8}
        }
      }
    }

    &__number-cont {
      position: relative;
      display: flex;
      flex-direction: column;
      max-height: 0;
      transition: max-height 0.25s ease-out;

      &.error.error &__lbl {color: var(--red-color); &::after {content: " *"}}
      &.focus &__lbl {
        top: 0;
        font-size: var(--font-size-extraSmall);
        font-weight: 500;
        color: var(--primary-color);
        background: linear-gradient(to top, var(--background-color) 0%, var(--background-color) 55%, hsla(0, 0%, 100%, 0) 55%, hsla(0, 0%, 100%, 0) 100%);
      }
      &__lbl {
        @include label-styles;
        transform: translateY(calc(-50% + 0.3em));
        opacity: 0;
        transition: top 0.25s ease-out, font-size 0.25s ease-out, 
        font-weight 0.25s ease-out, color 0.25s ease-out, 
        opacity 0.15s ease-out, transform 0.15s ease-out;
      }

      &.error.error &__inp {border: solid var(--red-color) 2px}
      &.focus &__inp {border: solid var(--primary-color) 2px}
      &__inp {
        @include input-styles;
        transform: translateY(0.3em);
        opacity: 0;
        transition: border 0.25s ease-out, opacity 0.15s ease-out, transform 0.15s ease-out;
        body.arabic & {direction: ltr}
      }

      &.error &__error-popup {visibility: visible; opacity: 1}
      &__error-popup {@include error-popup-styles}      
    }
  }

  &__shipping-address-sec {
    grid-area: shipping-address-sec;
    @include section-styles;
    &::before {@include bottom-line-sec-styles}

    &__h2 {@include title-sec-styles}

    &__info-cont {
      position: absolute;
      top: 2em;
      right: 1em;
      body.arabic & {
        right: auto;
        left: 1em;
      }

      &__img {
        width: 1.9em;
        object-fit: cover;
        object-position: center;
      }

      &:hover &__description {
        visibility: visible;
        opacity: 1;
      }
      &__description {
        @include info-description-styles;
        &::before {@include info-description-before-styles}
      }
    }

    &__lbl-inp-cont {
      position: relative;

      &.error.error &__lbl {
        color: var(--red-color);
        &::after {content: " *"}
      }
      &.focus &__lbl {
        top: 0;
        font-size: var(--font-size-extraSmall);
        font-weight: 500;
        color: var(--primary-color);
        background: linear-gradient(to top, var(--background-color) 0%, var(--background-color) 55%, hsla(0, 0%, 100%, 0) 55%, hsla(0, 0%, 100%, 0) 100%);
      }
      &__lbl {@include label-styles}

      &.error.error &__inp {border: solid var(--red-color) 2px}
      &.focus &__inp {border: solid var(--primary-color) 2px}
      &__inp {@include input-styles}

      &.error &__error-popup {
        visibility: visible;
        opacity: 1;
      }
      &__error-popup {@include error-popup-styles}
      
    }
  }

  &__orderSummary-bottom-sec {
    grid-area: orderSummary-bottom-sec;
    @include section-styles;
    overflow-y: hidden;
    overflow-x: clip;
    transition: max-height 0.5s ease;
    @include w.breakpoint-up (large) {display: none}
    &::before {@include bottom-line-sec-styles}
    
    &__show {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.3em;
      // padding: 1em;
      cursor: pointer;
      @include w.breakpoint-up (large) {display: none}  

      &__h2 {@include title-sec-styles}

      &__show {
        margin-left: auto;
        color: var(--primary-color);
        font-size: var(--font-size-extraSmall);
        font-weight: 600;

        body.arabic & {
          margin-left: 0;
          margin-right: auto;
        }
      }

      &__arrow {
        width: 1em;
        transition: transform 0.5s ease;
      }

      &__total {
        color: var(--font-h-color);
        font-weight: 600;
      }
    }

    &__orderList {
      overflow-y: hidden;
      overflow-x: clip;
      max-height: 0;
      transition: max-height 0.5s ease;
    }

    &__subtotal {
      display: flex;
      justify-content: space-between;
  
      &__text {
        color: var(--font-p-color);
        font-size: var(--font-size-small);
        font-weight: 500;
      }
  
      &__amount {
        color: var(--font-p-color);
        font-size: var(--font-size-small);
        font-weight: 500;
      }
    }
  
    &__shipping {
      display: flex;
      justify-content: space-between;
  
      &__text {
        color: var(--font-p-color);
        font-size: var(--font-size-small);
        font-weight: 500;
      }
  
      &__amount {
        color: var(--font-p-color);
        font-size: var(--font-size-small);
        font-weight: 500;
      }
    }
  
    &__total {
      display: flex;
      justify-content: space-between;
  
      &__text {
        color: var(--font-h-color);
        font-size: var(--font-size-medium);
        font-weight: bold;
      }
  
      &__amount {
        color: var(--font-h-color);
        font-size: var(--font-size-medium);
        font-weight: bold;
      }
    }  
  }  

  &__place-order-btn {
    grid-area: place-order-btn;
    margin-block: 1em;
    margin-inline: auto;
    width: calc(100% - 2em);
    color: var(--font-h-invert-color);
    font-size: var(--font-size-medium);
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding-block: 1em;
    transition: background-color 0.5s ease;

    &:hover {background-color: var(--background-invert-color)}
  }
}