@use '/src/styles/utils/_BreakPoints' as w;

.orderSummary {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;

  &::before {
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100vw;
    height: 1px;
    background-color: var(--light-background-color);
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__product {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
      'img-quan description description price';
      align-items: center;
      gap: 1em;

      &__img-quan {
        grid-area: img-quan;
        position: relative;

        &__img {
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: contain;
          object-position: center;
          background-color: white;
        }

        &__quan {
          position: absolute;
          top: 0;
          right: 0;
          background-color: hsla(0, 0%, 10%, 0.5);
          color: white;
          font-size: var(--font-size-extraSmall);
          font-weight: 600;
          padding: 0.5em;
          body.arabic & {right: auto; left: 0}
        }
      }

      &__description {
        grid-area: description;
        color: var(--font-h-color);
        font-weight: 550;
      }

      &__price {
        grid-area: price;
        margin-left: auto;
        color: var(--font-p-color);

        body.arabic & {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }
  }

  &.hidePrices &__subtotal {display: none}
  &__subtotal {
    display: flex;
    justify-content: space-between;

    &__text {
      color: var(--font-p-color);
      font-size: var(--font-size-small);
      font-weight: 500;
    }

    &__amount {
      color: var(--font-p-color);
      font-size: var(--font-size-small);
      font-weight: 500;
    }
  }

  &.hidePrices &__shipping {display: none}
  &__shipping {
    display: flex;
    justify-content: space-between;

    &__text {
      color: var(--font-p-color);
      font-size: var(--font-size-small);
      font-weight: 500;
    }

    &__amount {
      color: var(--font-p-color);
      font-size: var(--font-size-small);
      font-weight: 500;
    }
  }

  &.hidePrices &__total {display: none}
  &__total {
    display: flex;
    justify-content: space-between;

    &__text {
      color: var(--font-h-color);
      font-size: var(--font-size-medium);
      font-weight: bold;
    }

    &__amount {
      color: var(--font-h-color);
      font-size: var(--font-size-medium);
      font-weight: bold;
    }
  }  
}
