@use '/src/styles/utils/_BreakPoints' as w;
@use '/src/styles/utils/_StyleKits' as k;

.order-complete {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-orderComplete-color);
  z-index: 3000;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  body.arabic & {direction: rtl}

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 4em);
    max-width: 40em;
    background-color: var(--background-color);
    gap: 1em;
    padding-block: 1em;
    padding-inline: 2em;
    box-shadow: 0 10px 10px 0 hsla(0, 0%, 0%, 0.7);
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;

    &__upper-cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 1em;
      color: var(--font-h-color);
      font-weight: bold;
      font-size: var(--font-size-large)
    }

    &__bottom-cont {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      'description description'
      'home-btn account-btn'
      ;
      gap: 1em;

      &__description {
        grid-area: description;
        color: var(--font-p-color);
        font-size: var(--font-size-small);
      }

      &__home-btn {
        grid-area: home-btn;
        @include k.button-styles;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: var(--font-size-small);
        font-weight: 600;
        color: var(--font-h-invert-color);
      }

      &__account-btn {
        grid-area: account-btn;
        @include k.button-styles;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: var(--font-size-small);
        color: var(--font-h-invert-color);
      }
    }
  }
}