@use '/src/styles/utils/_BreakPoints' as w;
@use '/src/styles/utils/_StyleKits' as k;

.gs {
  &__editAlt-window {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 2000;

    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    &.show {animation-name: typeA-window-show}
    &.hide {animation-name: typeA-window-hide; animation-delay: 0.25s}
    
    &.show &__wrapper {animation-name: typeA-window-wrapper-show}    
    &.hide &__wrapper {animation-name: typeA-window-wrapper-hide}    
    &__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20em;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      'title title'
      'inpt inpt'
      'cancel save'
      ;
      align-items: center;
      justify-content: center;
      border-radius: 1em;
      overflow: hidden;
      box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, 0.6);

      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
      animation-fill-mode: both;
  
      &__title {
        grid-area: title;
        text-align: center;
        padding-block: 1em;
        color: var(--font-p-color);
      }

      &__inpt {
        grid-area: inpt;
        position: relative;
        font-weight: 600;
        padding-inline: 1em;
        padding-block: 0.5em;
        margin-bottom: 1em;
        margin-inline: 2em;
        background-color: var(--light-background-color);
        border: solid var(--dark-invert-background-color);
        border-width: 0 0 2px 0;
        outline: none;
        color: var(--font-h-color);
        font-size: var(--font-size-extraSmall);
        transition: border 0.15s ease-out;
        &:focus {border: solid var(--primary-color); border-width: 0 0 2px 0}
        &::placeholder { text-align: center }
      }

      &__cancel-btn {
        grid-area: cancel;
        &:hover {background-color: var(--light-invert-background-color)}

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: var(--endElement-border-background-color);
          body.arabic & {right: auto; left: 0}
        }
      }

      &__save-btn {
        grid-area: save;
        &:hover {background-color: var(--primary-color)}
      }

      &__save-btn,
      &__cancel-btn {
        position: relative;
        font-size: var(--font-size-extraSmall);
        color: var(--font-p-color);
        font-weight: 600;
        padding-block: 1em;
        transition: background-color 0.15s ease-out, color 0.15s ease-out;
        &:hover {color: var(--font-h-invert-color)}

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background-color: var(--endElement-border-background-color);
        }
      }
    }
  }

  &__editSiteDetails-window {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 2000;

    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    &.show {animation-name: typeA-window-show}
    &.hide {animation-name: typeA-window-hide; animation-delay: 0.25s}
    
    &.show &__wrapper {animation-name: typeC-window-wrapper-show}    
    &.hide &__wrapper {animation-name: typeC-window-wrapper-hide}    
    &__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 4em);
      max-width: 800px;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include w.breakpoint-up (medium) { grid-template-columns: repeat(4, 1fr) }
      grid-template-areas:
      'title title'
      'email-lbl email-lbl'
      'email-inpt email-inpt'
      'phone-lbl phone-lbl'
      'phone-inpt phone-inpt'
      'whatsApp-lbl whatsApp-lbl'
      'whatsApp-inpt whatsApp-inpt'
      'facebook-lbl facebook-lbl'
      'facebook-inpt facebook-inpt'
      'instagram-lbl instagram-lbl'
      'instagram-inpt instagram-inpt'
      'cancel save'
      ;
      @include w.breakpoint-up (medium) {
        grid-template-areas:
        'title title title title'
        'email-lbl email-lbl phone-lbl phone-lbl'
        'email-inpt email-inpt phone-inpt phone-inpt'
        'whatsApp-lbl whatsApp-lbl facebook-lbl facebook-lbl'
        'whatsApp-inpt whatsApp-inpt facebook-inpt facebook-inpt'
        'instagram-lbl instagram-lbl instagram-lbl instagram-lbl'
        'instagram-inpt instagram-inpt instagram-inpt instagram-inpt'
        'cancel cancel save save'
        ;
      }
      align-items: center;
      justify-content: center;
      border-radius: 1em;
      overflow: hidden;
      box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, 0.6);

      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
      animation-fill-mode: both;
  
      &__title {
        grid-area: title;
        text-align: center;
        padding-block: 1em;
        color: var(--font-p-color);
      }

      &__email-lbl { grid-area: email-lbl }
      &__phone-lbl { grid-area: phone-lbl } 
      &__whatsApp-lbl { grid-area: whatsApp-lbl } 
      &__facebook-lbl { grid-area: facebook-lbl } 
      &__instagram-lbl { grid-area: instagram-lbl } 
      &__email-inpt { grid-area: email-inpt }
      &__phone-inpt { grid-area: phone-inpt } 
      &__whatsApp-inpt { grid-area: whatsApp-inpt } 
      &__facebook-inpt { grid-area: facebook-inpt } 
      &__instagram-inpt { grid-area: instagram-inpt } 

      &__email-lbl,
      &__phone-lbl,
      &__whatsApp-lbl,
      &__facebook-lbl,
      &__instagram-lbl {
        display: flex;
        align-items: center;
        color: var(--font-h-color);
        gap: 0.3em;
        font-weight: 600;
        padding-inline: 2em;
        padding-block: 0.5em;
        // margin-inline: 2em;
      }

      &__email-inpt,
      &__phone-inpt,
      &__whatsApp-inpt,
      &__facebook-inpt,
      &__instagram-inpt {
        position: relative;
        font-weight: 600;
        padding-inline: 1em;
        padding-block: 0.5em;
        margin-bottom: 1em;
        margin-inline: 2em;
        background-color: var(--light-background-color);
        border: solid var(--dark-invert-background-color);
        border-width: 0 0 2px 0;
        outline: none;
        color: var(--font-h-color);
        transition: border 0.15s ease-out;
        &:focus { border: solid var(--primary-color); border-width: 0 0 2px 0 }
        &::placeholder { text-align: center }
      }

      &__cancel-btn {
        grid-area: cancel;
        &:hover {background-color: var(--light-invert-background-color)}

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: var(--endElement-border-background-color);
          body.arabic & {right: auto; left: 0}
        }
      }

      &__save-btn {
        grid-area: save;
        &:hover {background-color: var(--primary-color)}
      }

      &__save-btn,
      &__cancel-btn {
        position: relative;
        font-size: var(--font-size-extraSmall);
        color: var(--font-p-color);
        font-weight: 600;
        padding-block: 1em;
        transition: background-color 0.15s ease-out, color 0.15s ease-out;
        &:hover {color: var(--font-h-invert-color)}

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background-color: var(--endElement-border-background-color);
        }
      }
    }
  }

  &__banners-sec {
    display: flex;
    flex-direction: column;
    padding-block: 1em;
    gap: 1em;
    overflow: hidden;
  
    &__title {
      color: var(--font-h-color);
      font-weight: 600;
    }

    &__lst {
      display: flex;
      flex-direction: column;
      gap: 1em;
      @include w.breakpoint-up (large) {width: 1000px; margin-inline: auto}
      // overflow:hidden;

      &__itm {
        display: grid;
        // gap: 0 1em;
        grid-template-columns: auto auto auto 12em;
        grid-template-areas:
        'count up-arrow alt delete-btn'
        'count down-arrow alt delete-btn'
        ;
        @include w.breakpoint-up (medium) { grid-template-columns: 4em auto auto 15em }
        align-items: center;

        &__count {
          grid-area: count;
          color: var(--font-p-color);
          font-size: 4em;
          font-weight: 500;
        }

        &__up-arrow-btn,
        &__down-arrow-btn {
          cursor: pointer;
          width: 2.5em;
          height: 2.5em;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: auto;
          opacity: 0.5;
          transition: opacity 0.15s ease-out;
          &:hover {opacity: 1}
          body.arabic & { margin-right: 0; margin-left: auto }
        }

        &__up-arrow-btn {
          grid-area: up-arrow;
          background-image: var(--caret-up-fill-icon);  
          margin-top: auto;
        }

        &__down-arrow-btn {
          grid-area: down-arrow;
          background-image: var(--caret-down-fill-icon);  
          margin-bottom: auto;
        }

        &__alt-wrapper {
          grid-area: alt;
          position: relative;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-areas:
          'btn edit'
          'title title';
          flex-direction: row;
          align-items: center;
          gap: 0.5em;
          padding: 0.5em;
          background-color: var(--dark-background-color);
          // background-color: var(--secondary-color);
          margin-inline: auto 1em;
          border-radius: 1em;
          z-index: 10;

          &__title {
            grid-area: title;
            color: var(--font-p-color);
            font-weight: 600;
            font-size: var(--font-size-small);
            margin-inline: auto;
          }

          &__img {
            grid-area: edit;
            width: 1em;
            height: 1em;
            cursor: pointer;
            transition: opacity 0.15s ease-out;
          }

          &__img:hover + &__description {opacity: 1}
          &__description {
            position: absolute;
            bottom: calc(100% + 0.5em);
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            font-size: var(--font-size-small);
            color: var(--font-p-invert-color);
            background-color: var(--dark-invert-background-color);
            padding: 0.5em;
            border-radius: 0.5em;
            opacity: 0;
            transition: opacity 0.15s ease-out;
          }

          &__btn {
            grid-area: btn;
            // width: 2em;
            width: 1em;
            height: 1em;
            // height: 2em;
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: var(--pencil-fill-icon);  
            margin-block: auto;
            cursor: pointer;
            opacity: 0.7;
            margin-inline: auto;
            transition: opacity 0.15s ease-out;
            &:hover {opacity: 1}  
          }
        }

        &__delete-btn {
          grid-area: delete-btn;
          position: relative;
          width: 100%;
          margin-left: auto;

          &:hover::before {opacity: 1}
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: hsla(0, 0%, 0%, 0.5);
            background-image: url(/assets/img/icons/delete_darkMode.svg);
            background-repeat: no-repeat;
            background-size: 4em;
            background-position: center;
            opacity: 0;
            z-index: 10;
            transition: opacity 0.15s ease-out;
          }

          &__img {
            width: 100%;
            aspect-ratio: 16 / 9;
            @include w.breakpoint-up(large) {aspect-ratio: 2.39 / 1}
            @include w.breakpoint-up(xlarge) {aspect-ratio: 2.5 / 1}
            object-fit: cover;
            cursor: pointer;
          }
        }
      }
    }

    &__wrapper {
      position: relative;
      display: flex;

      width: 12em;
      @include w.breakpoint-up(medium) { width: 15em }
      @include w.breakpoint-up (large) { width: 1000px; height: 5em }
      
      aspect-ratio: 16 / 9;
      @include w.breakpoint-up(large) { aspect-ratio: auto }
      @include w.breakpoint-up(xlarge) { aspect-ratio: auto }
      
      margin-left: auto;
      @include w.breakpoint-up (large) { margin-inline: auto }
      body.arabic & { margin-left: 0; margin-right: auto }
      body.arabic & { @include w.breakpoint-up (large) { margin-inline: auto } }

      &::before {
        content: "";
        position: absolute;
        top: 0;

        right: 0;
        body.arabic & { @include w.breakpoint-up(large) {left: 0; right: auto} }

        width: 12em;
        @include w.breakpoint-up(medium) {width: 15em}
        
        aspect-ratio: 16 / 9;
        @include w.breakpoint-up(large) {aspect-ratio: 2.39 / 1}
        @include w.breakpoint-up(xlarge) {aspect-ratio: 2.5 / 1}

        border: dashed 5px hsla(0, 0%, 0%, 0.5);
        body.dark-theme & { border: dashed 5px hsla(0, 0%, 100%, 0.5) }

        background-color: var(--light-background-color);
        background-image: var(--add-icon);
        background-repeat: no-repeat;
        background-size: 4em;
        background-position: center;
        z-index: 5;
      }

      &__add-inpt {
        position: absolute;
        top: 0;
        right: 0;
        body.arabic & { @include w.breakpoint-up(large) {left: 0; right: auto} }
        opacity: 0;
        z-index: 20;
        width: 12em;
        @include w.breakpoint-up(medium) {width: 15em}
        aspect-ratio: 16 / 9;
        @include w.breakpoint-up(large) {aspect-ratio: 2.39 / 1}
        @include w.breakpoint-up(xlarge) {aspect-ratio: 2.5 / 1}
        cursor: pointer;
      }
    }
  }

  &__siteDetails-sec {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-block: 1em;
    gap: 1em;
   
    &__title {
      color: var(--font-h-color);
      font-weight: 600;
    }

    &__edit-btn {
      position: absolute;
      top: 1em;
      right: 0;
      width: 2em;
      height: 2em;
      background-color: transparent;
      background-size: 1em;
      background-repeat: no-repeat;
      background-position: center;
      background-image: var(--pencil-fill-icon);  
      border-radius: 1em;
      transition: background-color 0.15s ease-out;
      body.arabic & { right: auto; left: 1em }

      &:hover { background-color: var(--light-background-color) }
    }

    &__lst {
      display: flex;
      flex-direction: column;
      gap: 1em;

      &__itm {
        display: flex;
        justify-content: space-between;
        background-color: var(--light-background-color);
        border-radius: 2em;

        &__wrapper {
          display: flex;
          align-items: center;
          gap: 0.3em;
          padding-inline: 2em;
          padding-block: 0.5em;
          border-radius: 2em;
          background-color: var(--primary-color);

          &__img {
            width: 1em;
            @include w.breakpoint-up (medium) { width: 1.3em }
          }

          &__spn {
            font-size: var(--font-size-extraSmall);
            @include w.breakpoint-up (medium) { font-size: var(--font-size-small) }
            color: var(--font-h-invert-color);
            font-weight: 600;
          }
        }

        &__spn {
          font-size: var(--font-size-extraSmall);
          @include w.breakpoint-up (medium) { font-size: var(--font-size-small) }
          padding-inline: 2em;
          padding-block: 0.5em;
          color: var(--font-p-color);
          font-weight: 600;    
        }

        &__a {
          display: flex;
          align-items: center;
          text-decoration: none;
          gap: 0.3em;
          padding-inline: 2em;
          padding-block: 0.5em;
          color: var(--font-p-color);
          font-weight: 600;
          font-size: var(--font-size-extraSmall);
          @include w.breakpoint-up (medium) { font-size: var(--font-size-small) }

          &__img {
            width: 1em;
            @include w.breakpoint-up (medium) { width: 1em }
          }
        }
      }
    }
  }
}