@use 'src/styles/utils/_BreakPoints' as w;

.advertList {
  &.hide {display: none}
  body.arabic & {direction: rtl}

  &__advert-sctn {
    padding: 1em;
    // background-color: var(--light-background-color);
    background-color: var(--background-color);

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;

      @include w.breakpoint-up(medium) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include w.breakpoint-up(large) {
        grid-template-columns: repeat(4, 1fr);
      }

      &__product {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 0.5em;
        background-color: var(--background-color);
        border: solid var(--advertList-productContent-border-color) 1px;
        transition: transform 0.5s ease-out;

        &:hover {transform: scale(1.05)}

        &.out-of-stock {
          &::before {
            content: "Out Of Stock";
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            font-weight: 600;
            color: white;
            backdrop-filter: brightness(50%);
            z-index: 20;
            transition: background-color 0.25s ease-out;
          }
          body.arabic &::before {content: "المنتج غير متوفر"}
          &:active::before {background-color: rgba(255, 0, 0, 0.223)}
        }

        &::after {
          content: "";
          position: absolute;
          top: 0.8em;
          right: 0.8em;
          width: 1.6em;
          height: 1.6em;
          background-color: var(--background-color);
          border-radius: 100%;
        }

        &__favourite.added-to-wishlist {background-image: var(--heart-fill-icon)}
        &__favourite {
          position: absolute;
          top: 0.8em;
          right: 0.8em;
          width: 1.6em;
          height: 1.6em;
          background-color: var(--background-color);
          background-image: var(--heart-icon);
          background-repeat: no-repeat;
          background-size: 1em;
          background-position: center;
          border-radius: 100%;
          z-index: 10;
          transition: opacity 0.25s ease-in;
        }

        &__img {
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: contain;
          object-position: center;
          // border: solid 1px;
          background-color: white;
        }
 
        &__discount {
          background-color: var(--primary-color);
          color: var(--font-h-invert-color);
          border-radius: 40px 10%;
          font-weight: bold;
          padding: 0.3em 2em;
          margin-inline: auto;
        }

        &__description {
          color: var(--font-h-color);
        }

        &__brand-img {
          width: 100%;
          filter: var(--advertList-brandLogo-filter-invert);
          object-fit: contain;
          object-position: center;
          flex: 1;
        }

        &__price {
          display: flex;
          flex-flow: wrap-reverse;
          gap: 0.3em;
          align-items: end;
          font-weight: 600;

          & .now {
            font-size: var(--font-size-small);
          }

          & .total {
            font-size: var(--font-size-medium);
            color: var(--font-h-color);
          }

          & .currency-symbol {
            font-size: var(--font-size-medium);
            color: var(--font-h-color);
          }

          & .old {
            margin-left: auto;
            color: var(--font-p-color);
            font-size: var(--font-size-extraSmall);
            font-weight: 300;

            body.arabic & {
              margin-left: 0;
              margin-right: auto;
            }
          }
        }

        &__btns {
          display: flex;
          border: solid 2px var(--advertList-cartUtil-border-color);
          border-radius: 5px;
          align-items: center;
          z-index: 10;

          &__add-to-cart {
            font-weight: 600;
            flex: 1;
            white-space: nowrap;
            padding: 0.3em;
            color: transparent;
            background-image: var(--add-shoppingCart-icon);
            background-repeat: no-repeat;
            background-size: 1.3em;
            background-position: center;
            
            @include w.breakpoint-up (medium) {
              color: var(--font-h-color);
              background-image: none;
            }
          }
          
          &__increment,
          &__decrement {
            height: 100%;
            aspect-ratio: 1 / 1;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }

          &__increment {
            background-image: var(--advertList-increment-add-icon);
            border: solid var(--advertList-incrementAndDecrement-border-color);
            border-width: 0 0 0 2px;

            body.arabic & {border-width: 0 2px 0 0}
          }

          &__decrement {
            background-image: var(--advertList-decrement-add-icon);
          }

          &__add-to-cart,
          &__increment,
          &__decrement {
            position: relative;
            &::before,
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0%;
              transition: height 0.5s ease, background-color 0.15s ease;
            }
            &::before{background-color: var(--advertList-addToCart-background-color); z-index: -1}
            &::after {backdrop-filter: invert(100%)}
            &:hover::before,
            &:hover::after {height: 100%}
            &:active::before {background-color: var(--advertList-addToCart-active-background-color)}
          }

          &__total {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: var(--font-h-color);
            height: 100%;
            text-align: center;
            background-color: var(--advertList-total-background-color);
            padding-inline: 0.3em;
          }
        }
      }
    }
  }

  &__btn-sctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-block: 2em;
    border: solid var(--endElement-border-background-color);
    border-width: 0px 0 1px 0;

    &__load-more {
      position: relative;
      font-weight: 550;
      color: var(--font-h-color);
      border: solid var(--advertList-loadMore-border-color) 2px;
      padding: 0.5em 1em;

      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        transition: height 0.5s ease, background-color 0.15s ease;
      }
      &::before{background-color: var(--advertList-loadMore-background-color); z-index: -1}
      &::after {backdrop-filter: invert(100%)}
      &:hover::before,
      &:hover::after {height: 100%}
      &:active::before {background-color: var(--advertList-loadMore-active-background-color)}
    }

    &__load-amount {
      color: var(--font-p-color);
      font-size: var(--font-size-small);
    }
  }
}