.products-container {
  // background-color: red;

  &__breadCrumb-container {
    display: flex;
    justify-content: center;
    padding-block: 0.5em;
  }

  &__category-title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1em;

    body.arabic & {
      direction: rtl;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 100vw;
      background-color: var(--light-background-color);
      z-index: -1;
    }

    &__h1 {
      margin-bottom: 0.5em;
      color: var(--font-h-color);
    }

    &__result {
      color: var(--font-p-color);
      // margin: 0.5em;
    }
  }
}