@use '/src/styles/utils/_BreakPoints' as w;

.hamMenu {
  visibility: hidden;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0);
  z-index: 100;
  transition: background-color 0.5s ease-out;
  @include w.breakpoint-up(large) {display: none}
  body.arabic & {direction: rtl}

  &__slider {
    display: flex;
    width: 16em;
    flex-direction: column;
    background-color: var(--hamMenu-sideBox-color);
    transition: transform 0.25s ease-out;
    
    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--secondary-color);
      padding: 1rem;
      
      &__h1 {color: var(--font-h-color)}

      &__exit-icon {
        border-radius: 6rem;
        width: var(--hamMenu-exitIcon-size);
        padding: 0.2em;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        transition: background-color 0.25s ease;

        &:hover {background-color: var(--light-background-color)}
      }
    }

    &__menuL {
      overflow-y: auto;
      
      &::-webkit-scrollbar {width: 0.5em}
      &::-webkit-scrollbar-thumb {
        cursor: grab;
        background-color: var(--sideMenu-scrollBar-background-color);
        transition: background-color 0.15s;
      }
      &::-webkit-scrollbar-thumb:active {cursor: grabbing}
      &::-webkit-scrollbar-thumb:hover {background-color: hsl(0, 0%, 50%)}
      &::-webkit-scrollbar-track {background-color: rgba(42, 42, 42, 0)}

      &__lists {
        position: relative;
        display: flex;
        flex-direction: column;

        &::before {
          // bottom straight line
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 65%;
          height: 1px;
          background-color: hsl(0, 0%, 50%);
        }

        &__title {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.7em 0.7em 0 0.7em;
          opacity: 0.8;
          color: var(--font-h-color);
          cursor: pointer;
          &.clicked {opacity: 1}
          &:hover {opacity: 1}

          &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 0.2em;
            height: calc(80% + 0px);
            background-color: var(--primary-color);
            transform: translateX(-0.22em);
            transition: transform 0.25s ease;

            body.arabic & {
              transform: translateX(0.22em);
              left: auto;
              right: 0;
            }
          }
          &.clicked::before {transform: translateX(0) !important}

          &__h2 {}
          &.clicked &__h2 {font-weight: 550}

          & .expand-circle {
            width: var(--icon-size);
            transition: transform 0.25s ease;
          }
          &.clicked .expand-circle {transform: rotate(-180deg)}
        }

        &__secondaryL {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          max-height: 0;
          margin: 0.35em 0;
          background-color: var(--light-background-color);
          transition: max-height 0.25s ease-in;

          &__lists {
            display: flex;
            flex-direction: column;
            color: var(--font-p-color);
            cursor: pointer;

            &__section {
              display: flex;
              justify-content: space-between;
              padding: 0.5em 1.4em;

              &__h3 {}
              &.clicked &__h3 {font-weight: 550}

              &__img {
                width: var(--hamMenu-thirdList-addIcon-size);
                height: var(--hamMenu-thirdList-addIcon-size);
                background-image: var(--hamMenu-add-icon);
                background-size: cover;
                background-repeat: no-repeat;
              }
              &.clicked &__img {background-image: var(--hamMenu-remove-icon)}
            }

            &__thirdL {   
              background-color: var(--dark-background-color);
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.25s ease-out;
              
              &__lists {
                cursor: pointer;

                &__h3{
                  padding: 0.5em 2.1em;
                  // margin: 0 0 0.5em 2.1em;

                  &:hover {
                    font-weight: 550;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  } 
}