@font-face {
  font-family: 'PT_Sans';
  src: url('/assets/fonts/Asap/Asap-VariableFont_wdth,wght.ttf') format('truetype');

}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto_Arabic';
  src: url('/assets/fonts/Noto_Naskh_Arabic/NotoNaskhArabic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/assets/fonts/Vazirmatn/Vazirmatn-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Righteous';
  src: url('/assets/fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM_Arabic';
  src: url('/assets/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'IBM_Arabic';
  src: url('/assets/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'IBM_Arabic';
  src: url('/assets/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'IBM_Arabic';
  src: url('/assets/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'IBM_Arabic';
  src: url('/assets/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'IBM_Arabic';
  src: url('/assets/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'IBM_Arabic';
  src: url('/assets/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf') format('truetype');
  font-weight: bold;
}

