@mixin button-styles {
  // margin-block: 1em;
  margin-inline: auto;
  // min-width: calc(100% - 2em);
  // max-width: 15em;
  width: 15em;
  color: var(--font-h-invert-color);
  font-size: var(--font-size-medium);
  font-weight: bold;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding-block: 1em;
  transition: background-color 0.5s ease;

  &:hover {background-color: var(--background-invert-color)}
}

@mixin background-color-stretch ($backgroundColor, $heightSize) {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: $heightSize;
  background-color: $backgroundColor;
  z-index: -1;
}

@mixin delete-btn {
  width: 1.6em;
  height: 1.6em;
  background-image: var(--delete-icon);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0.8;
  transition: opacity 0.25s ease;

  &:hover {opacity: 1}
}

@mixin cart-toggles {
  grid-area: toggles;
  display: flex;

  &__increment {
    background-image: var(--add-icon);
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 2em;
    font-weight: 550;
    background-color: var(--endElement-border-background-color);
    color: var(--font-h-color);
  }

  &__decrement {
    background-image: var(--remove-icon);
  }

  &__increment, 
  &__decrement {
    position: relative;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: solid var(--endElement-border-background-color);

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      transition: height 0.5s ease;
    }
    &:hover::before,
    &:hover::after {height: 100%}
    &::before {background-color: var(--cartSlider-addToCart-background-color); z-index: -1}
    &::after {backdrop-filter: invert(100%)}
    &:active::before {background-color: var(--cartSlider-addToCart-active-background-color)}
  }
}

@mixin bottom-line {
  border: solid var(--endElement-border-background-color);
  border-width: 0 0 2px 0;
}


.add-background-color {
  background-color: var(--dark-background-color);

  &__img {
    width: 100%;
    height: 100%;
  }
}

@mixin diamond-btn-styles ($img, $background-color) {
  position: absolute;
  top: 2em;
  right: 1em;
  transform: rotate(45deg);
  transform-origin: center;
  width: 2em;
  height: 2em;  
  border-radius: 0.5em;
  background-color: $background-color;
  filter: drop-shadow(0 0px 3px $background-color);
  transition: opacity 0.25s ease;
  &:hover {opacity: 0.8}

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    background-image: $img;
    background-size: 1.3em;
    background-repeat: no-repeat;
    background-position: center;
  }
}
