//  White Theme
:root {
  // MAIN
  --background-color: hsl(0, 0%, 100%);
  --background-invert-color: hsl(0, 0%, 0%);
  --light-background-color: hsl(0, 0%, 90%);
  --light-invert-background-color: hsl(0, 0%, 10%);
  --dark-background-color: hsl(0, 0%, 80%);
  --dark-invert-background-color: hsl(0, 0%, 20%);
  --endElement-border-background-color: hsl(0, 0%, 85%);
  --font-h-color: hsl(0, 0%, 0%);
  --font-h-invert-color: hsl(0, 0%, 100%);
  --font-p-color: hsl(0, 0%, 25%);
  --font-p-invert-color: hsl(0, 0%, 75%);
  --primary-color: #4B6D90;
  --secondary-color: #B8D1E0;
  --red-color: #E3242B;
  --yellow-color: #FFF44F;
  --green-color: #0FFF50;
  --red-inverted-color: #1cdbd4;
  --window-background-color: hsl(0, 0%, 30%, 0.4);
  --window-invert-background-color: hsl(0, 0%, 70%, 0.4);
  --day-night-theme-color: hsl(160, 60%, 70%);

  // Secondary
  --button-color: hsl(0, 0%, 100%);
  --button-active-color: #4B6D90;
  --button-font-color: hsl(0, 0%, 0%);
  --button-font-active-color: hsl(0, 0%, 100%);
  --language-list-color: hsl(0, 0%, 100%);
  --language-list-color-hover: hsl(0, 0%, 90%);
  --boxEnd-border-background-color: hsl(0, 0%, 85%);

  // Intro Section
  --theme-box-shadow-color: hsla(0, 0%, 20%, 0.5);

  // Navbar
  --nav-searchInput-background-color: hsl(0, 0%, 100%);
  --nav-searchInput-outline-color: hsl(0, 0%, 0%);
  --nav-hamIcon-after-background-color: var(--primary-color);

  // Ham Side Menu
  --hamMenu-background-color: hsl(0, 0%, 30%, 0.4);
  --hamMenu-sideBox-color: hsl(0, 0%, 100%);
  --hamMenu-menu-background-color: hsl(0, 0%, 85%);
  --sideMenu-scrollBar-background-color: hsl(0, 0%, 35%);
  --hamMenu-secondaryList-background-color: hsl(0, 0%, 90%);
  --hamMenu-thirdList-background-color: hsl(0, 0%, 80%);
  
  // CartSlider
  --cartSlider-background-color: hsl(0, 0%, 30%, 0.4);

  // Drop Menu 
  --dropMenu-background-color: hsl(0, 0%, 100%);
  --dropMenu-subItems-background-color: hsl(0, 0%, 85%, 0.8);

  // Bubble pop
  --bubblePop-background-color: hsl(0, 0%, 0%, 0.7);
  --bubblePop-color: hsl(0, 0%, 100%);

  // Alert
  --alert-timer-background-color: hsl(0, 0%, 50%);
  --alert-filler-background-color: hsl(0, 0%, 100%);

  // --alert-filler-hover-background-color: hsl(0, 0%, 95%);
  --alert-x-background-color: hsl(0, 0%, 70%);

  // ImageSlider
  --imageSlider-arrows-background-color: hsl(0, 0%, 100%);
  --imageSlider-arrowsBorder-color: hsl(0, 0%, 0%, 0.7);  
  --ImageSlider-arrows-hover-background-color: var(--primary-color);

  // NotFound
  --notFound-homePage-color: var(--secondary-color); 

  // Controls
  --controls--expandedList-hover-background-color: var(--light-background-color);
  
  // AdvertList
  --advertList-productContent-border-color: var(--endElement-border-background-color);
  --advertList-cartUtil-border-color: var(--endElement-border-background-color);
  --advertList-loadMore-border-color: var(--endElement-border-background-color);
  --advertList-incrementAndDecrement-border-color: var(--endElement-border-background-color);
  --advertList-total-background-color: var(--light-background-color);
  --advertList-addToCart-background-color: #b4926f;
  --advertList-addToCart-active-background-color: hsl(0, 0%, 100%);
  --advertList-loadMore-background-color: #b4926f;
  --advertList-loadMore-active-background-color: hsl(0, 0%, 100%);
  --advertList-discount-color: var(--primary-color);

  // advertTile
  --advertTile-no-product-background-color: hsla(0, 0%, 15%, 0.5);

  // CartSlider
  --cartSlider-addToCart-background-color: #b4926f;
  --cartSlider-addToCart-active-background-color: hsl(0, 0%, 100%);

  // SignIn
  --signIn-input-border-color: hsl(0, 0%, 35%);
  --signIn-label-font-color: hsl(0, 0%, 35%);
  
  // SignUp
  --signUp-input-border-color: hsl(0, 0%, 35%);
  --signUp-label-font-color: hsl(0, 0%, 35%);

  // orderComplete
  --background-orderComplete-color: hsl(0, 0%, 0%, 0.7);

  // Account
  --account-top-bar-background-color: hsl(0, 0%, 80%);
  --account-box-shadow-background-color: hsla(0, 0%, 20%, 0.5);

  // SearchPanel
  // --searchPanel-panel-background-color: hsl(0, 0%, 30%, 0.6);
  --searchPanel-panel-background-color: hsl(0, 0%, 100%, 0.7);
  --searchPanel-content-background: linear-gradient(
    135deg,
    hsla(210, 32%, 43%, 0.7) 0%,
    hsla(218, 44%, 17%, 0.7) 50%,
    hsla(210, 32%, 43%, 0.7) 100%
  );
  --searchPanel-product-background: linear-gradient(
    135deg,
    hsla(210, 32%, 43%, 1) 0%,
    hsla(218, 44%, 17%, 1) 50%,
    hsla(210, 32%, 43%, 1) 100%
  );
  // --searchPanel-content-background-color: hsl(0, 0%, 30%, 0.7);
  --searchPanel-content-background-color: hsl(0, 0%, 100%, 0.7);


  // Footer
  --footer-background-color: var(--secondary-color);
}

//  Dark Theme
.dark-theme {
  // Main
  --background-color: hsl(0, 0%, 0%);
  --background-invert-color: hsl(0, 0%, 100%);
  --light-background-color: hsl(0, 0%, 10%);
  --light-invert-background-color: hsl(0, 0%, 90%);
  --dark-background-color: hsl(0, 0%, 20%);
  --dark-invert-background-color: hsl(0, 0%, 80%);
  --endElement-border-background-color: hsl(0, 0%, 15%);
  --font-h-color: hsl(0, 0%, 100%);  
  --font-h-invert-color: hsl(0, 0%, 0%);  
  --font-p-color: hsl(0, 0%, 75%);
  --font-p-invert-color: hsl(0, 0%, 25%);
  --primary-color: #85AED0;
  --secondary-color: #192740;
  --window-background-color: hsl(0, 0%, 70%, 0.4);
  --window-invert-background-color: hsl(0, 0%, 30%, 0.4);
  --day-night-theme-color: hsl(160, 60%, 30%);

  --button-color: hsl(0, 0%, 0%);
  --button-font-color: hsl(0, 0%, 100%);
  --language-list-color: hsl(0, 0%, 0%);
  --language-list-color-hover: hsl(0, 0%, 10%);
  --boxEnd-border-background-color: hsl(0, 0%, 15%);

  // Intro Section
  --theme-box-shadow-color: hsla(0, 0%, 80%, 0.5);

  // Navbar
  --nav-searchInput-background-color: hsl(0, 0%, 0%);
  --nav-searchInput-outline-color: hsl(0, 0%, 100%);
  --nav-hamIcon-after-background-color: var(--primary-color);

  // Ham Side Menu
  --hamMenu-background-color: hsl(0, 0%, 70%, 0.4);
  --hamMenu-sideBox-color: hsl(0, 0%, 0%);
  --hamMenu-menu-background-color: hsl(0, 0%, 15%);
  --sideMenu-scrollBar-background-color: hsl(0, 0%, 65%);
  --hamMenu-secondaryList-background-color: hsl(0, 0%, 10%);
  --hamMenu-thirdList-background-color: hsl(0, 0%, 20%);

  // CartSlider
  --cartSlider-background-color: hsl(0, 0%, 70%, 0.4);

  // Drop Menu
  --dropMenu-background-color: hsl(0, 0%, 0%);
  --dropMenu-subItems-background-color: hsl(0, 0%, 15%, 0.8);

  // Bubble pop 
  --bubblePop-background-color: hsl(0, 0%, 100%, 0.7);
  --bubblePop-color: hsl(0, 0%, 0%);

  // Alert
  --alert-timer-background-color: hsl(0, 0%, 50%);
  --alert-filler-background-color: hsl(0, 0%, 0%);
  // --alert-filler-hover-background-color: hsl(0, 0%, 5%);
  --alert-x-background-color: hsl(0, 0%, 30%);

  // ImageSlider
  --imageSlider-arrows-background-color: hsl(0, 0%, 0%);
  --imageSlider-arrowsBorder-color: hsl(0, 0%, 100%, 0.7);
  --ImageSlider-arrows-hover-background-color: var(--primary-color);

  // NotFound
  --notFound-homePage-color: var(--primary-color); 

  // Controls
  --controls--expandedList-hover-background-color: var(--light-background-color);
  
  // AdvertList
  --advertList-productContent-border-color: var(--endElement-border-background-color);
  --advertList-cartUtil-border-color: var(--endElement-border-background-color);
  --advertList-loadMore-border-color: var(--endElement-border-background-color);
  --advertList-incrementAndDecrement-border-color: var(--endElement-border-background-color);
  --advertList-total-background-color: var(--light-background-color);
  --advertList-addToCart-background-color: #472e1f;
  --advertList-addToCart-active-background-color: hsl(0, 0%, 0%);
  --advertList-loadMore-background-color: #472e1f;
  --advertList-loadMore-active-background-color: hsl(0, 0%, 0%);
  --advertList-discount-color: var(--primary-color);

  // CartSlider
  --cartSlider-addToCart-background-color: #472e1f;
  --cartSlider-addToCart-active-background-color: hsl(0, 0%, 0%);

  // SignIn
  --signIn-input-border-color: hsl(0, 0%, 65%);
  --signIn-label-font-color: hsl(0, 0%, 65%);

  // SignUp
  --signUp-input-border-color: hsl(0, 0%, 65%);
  --signUp-label-font-color: hsl(0, 0%, 65%);

  // orderComplete
  --background-orderComplete-color: hsl(0, 0%, 100%, 0.7);

  // Account
  --account-top-bar-background-color: hsl(0, 0%, 20%);
  --account-box-shadow-background-color: hsla(0, 0%, 80%, 0.5);

  // SearchPanel
  --searchPanel-panel-background-color: hsl(0, 0%, 0%, 0.6);
  // --searchPanel-panel-background-color: hsl(0, 0%, 30%, 0.6);
  --searchPanel-content-background: linear-gradient(
    135deg,
    hsla(210, 32%, 43%, 0.7) 0%,
    hsla(203, 39%, 80%, 0.7) 50%,
    hsla(210, 32%, 43%, 0.7) 100%
  );
  --searchPanel-product-background: linear-gradient(
    135deg,
    hsla(210, 32%, 43%, 1) 0%,
    hsla(203, 39%, 80%, 1) 50%,
    hsla(210, 32%, 43%, 1) 100%
  );
  // --searchPanel-content-background-color: hsl(0, 0%, 30%, 0.7);
  --searchPanel-content-background-color: hsl(0, 0%, 0%, 0.7);


  // Footer
  --footer-background-color: var(--secondary-color);
}