@use '/src/styles/utils/_BreakPoints' as w;

.signIn {
  display: flex;
  flex-direction: column;

  body.arabic & {direction: rtl}

  &__form {
    display: grid;
    gap: 1em;
    padding-block: 30vw;
    margin-inline: auto;
    width: 75%;
    @include w.breakpoint-up (medium) {
      width: 27em;
      padding-block: 25vw;
    }
    @include w.breakpoint-up (xlarge) {padding-block: 15vw;}
    
    &__password,
    &__email {
      position: relative;

      body.arabic & label {left: auto; right: 1em}
      &.error.error label {
        color: var(--red-color);
        &::after {content: " *"}
      }
      &.onFocus label {
        top: 0;
        font-size: var(--font-size-extraSmall);
        font-weight: 500;
        color: var(--primary-color);
        background: linear-gradient(to top, var(--background-color) 0%, var(--background-color) 55%, hsla(0, 0%, 100%, 0) 55%, hsla(0, 0%, 100%, 0) 100%);
      }
      & label {
        position: absolute;
        top: 50%;
        left: 1em;
        transform: translateY(-50%);
        font-size: var(--font-size-small);
        font-weight: 600;
        color: var(--signIn-label-font-color);
        padding-inline: 0.2em;
        z-index: 1;
        transition: top 0.25s ease-out, font-size 0.25s ease-out, font-weight 0.25s ease-out, color 0.25s ease-out;
      }

      body.arabic & input {direction: rtl}
      &.error.error input {border: solid var(--red-color) 2px}
      &.onFocus input {border: solid var(--primary-color) 2px}      
      & input {
        background-color: var(--background-color);
        color: var(--font-p-color);
        font-size: var(--font-size-small);
        width: 100%;
        border: solid 2px var(--signIn-input-border-color);
        outline: none;
        border-radius: 5px;
        padding: 1em;
        transition: border 0.25s ease-out;
        
        // &:hover {border: solid var(--secondary-color) 2px}
        // &:focus {border: solid var(--primary-color) 2px}
      }

      &.error &__error-popup {
        visibility: visible;
        opacity: 1;
      }
      &__error-popup {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 0.5em;
        transform: translateY(-50%);
        height: 60%;
        padding: 0.5em;
        font-size: var(--font-size-extraSmall);
        color: var(--red-color);
        backdrop-filter: blur(5px);
        transition: opacity 0.25s ease-out;
        body.arabic & {right: auto; left: 0.5em}
      }
    }

    &__submit {
      background-color: var(--primary-color);
      color: var(--font-h-invert-color);
      font-size: var(--font-size-medium);
      font-weight: 600;
      width: 100%;
      padding-block: 1em;
      border-radius: 5px;
      transition: background-color 0.25s ease;

      &:hover {background-color: var(--background-invert-color)}
    }

    & .forgot-password {margin-left: auto}
    body.arabic & .forgot-password {margin-left: 0; margin-right: auto}

    & .new-costumer,
    & .forgot-password,
    & .cancel {
      font-size: var(--font-size-small);
      color: var(--font-p-color);
      cursor: pointer;
      transition: font-weight 0.15s ease, color 0.15s ease;

      &:hover {
        text-decoration: underline var(--font-h-color);
        color: var(--font-h-color);
        font-weight: 500;
      }
    }
  }
}